.about {
    background-color: transparent;
    height: 982px;
    position: relative;
    @media screen and (min-width: 360px) {
  height: auto;
    }
    @media screen and (min-width: 768px) {
      
    }
    @media screen and (min-width: 1200px) {
      height: 982px;
    }
}

// .about-background {
//   width: 0;
//   height: 0;
//   border-top: 600px solid rgba(0, 0, 0, 0);
//   border-right: 2800px solid black;
//   border-bottom: 600px solid rgba(0, 0, 0, 0);
//   position: absolute;
//   right: 0;
//   top: -7%;
//   z-index: -1;
//   width: 0;
//   height: 0;
// }

.stat-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  // gap: 107px;
  flex-wrap: wrap;
  @media screen and (min-width: 360px) {
  flex-direction: column;
  }
  @media screen and (min-width: 768px) {
    
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.stat-item {
    background-color: #062983;
    padding: 64px 33px;
    margin: 20px 54px 38px;
    display: flex;
    flex-direction: column;
    flex-basis: 17%;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    transition:  1s ease;
    // flex: 1;
}

.stat-item:hover {
   transform: scale(1.1); 
}

.countries {
  background-color: #3935f6;
}

.about {
  background: url('./../../images/toleft.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #fff;
  text-align: center;
  @media screen and (min-width: 360px) {
  background: transparent;
  }
  @media screen and (min-width: 768px) {
    
  }
  @media screen and (min-width: 1200px) {
    background: url('./../../images/toleft.png');
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #fff;
  text-align: center;
  }
  
}

.about-container {
//   width: 1180px;
  margin: 0 auto;
  // position: absolute;
  // top: calc(30% - 60px);
  @media screen and (min-width: 360px) {
  
  }
  @media screen and (min-width: 768px) {
    
  }
  @media screen and (min-width: 1200px) {
    position: absolute;
  top: calc(30% - 60px);
  }
}

.item-num {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 67px;

  color: #ffffff;
}

.item-text {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  /* identical to box height */

  color: rgba(255, 255, 255, 0.7);
}
