body {
  font-family: 'Cinzel', serif;
  @media screen and (min-width: 360px) {
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
  }
}

p {
  color: #6b6b6b;
}

a {
  text-decoration: none;
}

.remove-margin-bottom {
  @media screen and (min-width: 360px) {
    padding: 60px 0 30px 0;
  }
  @media screen and (min-width: 768px) {
    padding: 60px 0 30px 0;
  }
  @media screen and (min-width: 1200px) {
    padding: 94px 0 64px 0;
  }
}

.container {
  @media screen and (min-width: 360px) {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    margin: 0 auto;
    padding: 0 15px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

.section {
  padding: 94px 0;
  @media screen and (min-width: 360px) {
    padding: 60px 0;
  }
  @media screen and (min-width: 768px) {
    padding: 60px 0;
  }
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

// main {
//   @media screen and (min-width: 360px) {
//     margin-top: 75px;
//   }
//   @media screen and (min-width: 768px) {
//     margin-top: 90px;
//   }
//   @media screen and (min-width: 1200px) {
//     margin-top: 105px;
//   }
// }

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
