.header-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo {
  height: 37px;
}

.header-link {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  /* identical to box height */

  color: #000000;
}

.hmenu {
  transition: 1s;
}

.hmenu:hover {
  border-bottom: 1px solid #000000;
}

.header-list-item {
  margin: 0 62.5px;
  // padding: 26px 0 19px 0;
}

.header-logo {
  margin: 0 -51px;
  @media screen and (min-width: 360px) {
  margin: 0;
  }
  @media screen and (min-width: 768px) {
    margin: 0;
  }
  @media screen and (min-width: 1200px) {
    margin: 0 -51px;
  }
}

.header {
  background-color: white;
    padding: 26px 0 19px 0;
    border-bottom: 1px solid #6c6c6c;
    // position: fixed;
    width: 100%;
    z-index: 2;
    @media screen and (min-width: 360px) {
      padding: 18px 0;
    }
    @media screen and (min-width: 768px) {
      padding: 13px 0;
    }
    @media screen and (min-width: 1200px) {
      padding: 26px 0 19px 0;
    }

}

.menu-open-btn {
  background: transparent;
  border: none;
  padding-left: 90%;
  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.menu-close-btn {
  background: transparent;
  border: none;
  position: absolute;
  top: 21px;
  left: 75%;
  // position: relative;
  // right: 105px;
  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  height: 100vh;
  width: 100vw;
  z-index: 5;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mob__item {
  font-weight: 500;
font-size: 40px;
line-height: 47px;
letter-spacing: 0.02em;

color: #212121;
&:not(:last-child) {
margin-bottom: 32px;
}
&:hover {
color: #2196f3;
}
&:focus {
color: #2196f3;
}
}


.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.header-list {
  @media screen and (min-width: 360px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 60px;
  }
  @media screen and (min-width: 1200px) {
    // width: 696px;
    display: flex;
    margin-left: 60px;
  }
}



