.hero {
  background-color: #000000;
  background-attachment: fixed;
  padding: 347px 0 283px 0;
  height: 250px;
  overflow: hidden;
  @media screen and (min-width: 360px) {
    padding: 240px 0 283px 0;
  }
  @media screen and (min-width: 768px) {
    
  }
  @media screen and (min-width: 1200px) {
    position: relative;
    padding: 347px 0 283px 0;
  }
}

.hero-container {
  margin: 0 auto;
    width: 1150px;
    @media screen and (min-width: 360px) {
      width: 90%;
      text-align: center;
    }
    @media screen and (min-width: 768px) {
      
    }
    @media screen and (min-width: 1200px) {
      width: 1150px;
    }
}

.hero-slogan {
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 108px;
  /* identical to box height */

  color: #ffffff;
  // position: absolute;
  left: 18%;
  @media screen and (min-width: 360px) {
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 53px;
    color: #fff;
    left: 18%;
  }
  @media screen and (min-width: 768px) {
    
  }
  @media screen and (min-width: 1200px) {
    position: absolute;
    font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 108px;
  /* identical to box height */

  color: #ffffff;
  // position: absolute;
  left: 18%;
  }
}

.hero-caption {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 34px;

  color: rgba(255, 255, 255, 0.7);
  @media screen and (min-width: 360px) {
    
  }
  @media screen and (min-width: 768px) {
    
  }
  @media screen and (min-width: 1200px) {
    
  }
}

.hero-caption-wrapper {
  // position: absolute;
  left: 35%;
  top: 50%;
  // width: 629px;
  @media screen and (min-width: 360px) {
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    
  }
  @media screen and (min-width: 1200px) {
    position: absolute;
    width: 629px;
    text-align: left;
  }
}

.hero-cover-logo {
  position: absolute;
  top: 0;
  height: 910px;
  overflow: hidden;
  width: -webkit-fill-available;
  @media screen and (min-width: 360px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    
  }
  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.robo-hand {
  position: absolute;
  top: -6%;
  right: -2%;
  overflow: hidden;
  transform: rotate(5deg);
  @media screen and (min-width: 360px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    
  }
  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.human-hand {
  // position: absolute;
  // display: none;
  left: -1%;
  bottom: 1%;
  overflow: hidden;
  @media screen and (min-width: 360px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    
  }
  @media screen and (min-width: 1200px) {
    position: absolute;
    display: block;
  }
}
