.rate {
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  // margin-top: 154px;
  padding-top: 185px;
  padding-bottom: 71px;
}

.rate-right-side {
  @media screen and (min-width: 360px) {
  display: none;
  }
  @media screen and (min-width: 768px) {
    
  }
  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.rate-title {
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 81px;

  color: #ffffff;
  text-align: left;
  margin-bottom: 89px;
}

.rate-text {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;

  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  margin-bottom: 73px;
}

.rate-container {
  width: 1371px;
  display: flex;
  margin: 0 auto;
  @media screen and (min-width: 360px) {
  width: 90%;
  }
  @media screen and (min-width: 768px) {
    
  }
  @media screen and (min-width: 1200px) {
    width: 1371px;
  display: flex;
  margin: 0 auto;
  }
}

.form-wrapper {
  display: flex;
  flex-direction: column;
}

.name-field {
  display: flex;
  flex-direction: column;
}

.rate-button {
  // align-self: flex-start;
  margin-top: 55px;
  margin-right: 150px;
  align-self: center;
  @media screen and (min-width: 360px) {
    margin-top: 55px;
    margin-right: 150px;
  }
  @media screen and (min-width: 768px) {
    
  }
  @media screen and (min-width: 1200px) {
    margin-top: 55px;
  margin-right: 150px;
  align-self: center;
  text-align: -webkit-center;
  }
}

.rate-button button {
  color: #ffffff;
  background-color: #062983;
  padding: 30px 40px;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  /* identical to box height */

  color: #ffffff;
  display: flex;
  gap: 40px;
  cursor: pointer;
  align-items: center;
}

.mail-field {
  display: flex;
  flex-direction: column;
}

.form-fields {
  display: flex;
  gap: 61px;
  text-align: left;
}

.rate-form-label {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;

  color: #ffffff;
  margin-bottom: 7px;
}

.rate-input {
  border: none;
  // border-bottom: 2px solid gray;
  // padding: 10px;
  box-sizing: border-box;
  display: inline-block;
  width: 253px;
  height: 37px;

  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  @media screen and (min-width: 360px) {
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    
  }
  @media screen and (min-width: 1200px) {
    width: 253px;
  }
}

.input-wrapper {
  padding-bottom: 10px;
  border-bottom: 1px solid #ffffff;
}
