.service {
    background-color: transparent;
    height: 982px;
    position: relative;
    @media screen and (min-width: 360px) {
        height: auto;
        padding-bottom: 50px;
          }
          @media screen and (min-width: 768px) {
            
          }
          @media screen and (min-width: 1200px) {
            height: 982px;
          }
    
}

// .service-background {
//     width: 0;
//   height: 0;
//   border-top: 600px solid rgba(0, 0, 0, 0);
//   border-left: 2800px solid black;
//   border-bottom: 600px solid rgba(0, 0, 0, 0);
//   position: absolute;
//   left: 0;
//   top: -7%;
//   z-index: -1;
//   width: 0;
//   height: 0;
// }

.service-container {
    @media screen and (min-width: 360px) {
        display: flex;
        flex-direction: column-reverse;
          }
          @media screen and (min-width: 768px) {
            
          }
          @media screen and (min-width: 1200px) {
            
          }
}

.service {
    background: url('./../../images/toright.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #fff;
    text-align: center;
    margin-top: 154px;
    @media screen and (min-width: 360px) {
  background: #000000;
  margin-top: 220px;
    }
    @media screen and (min-width: 768px) {
      
    }
    @media screen and (min-width: 1200px) {
        background: url('./../../images/toright.png');
        background: url('./../../images/toright.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #fff;
    text-align: center;
    margin-top: 154px;
    }
  }

//   .service-hands {
//     background: url('./../../images/hands.png');
//     position: absolute;
//     top: 0;
//     right: 25%;
//   }

.service-hands {
    @media screen and (min-width: 360px) {
  display: none;
    }
    @media screen and (min-width: 768px) {
      
    }
    @media screen and (min-width: 1200px) {
      display: inline;
    }
}

.service-title {
    font-family: 'Cinzel';
    font-style: normal;
font-weight: 400;
font-size: 80px;
line-height: 108px;
/* identical to box height */


color: #FFFFFF;

    top: 437px;
    right: 50px;
    @media screen and (min-width: 360px) {
  
    }
    @media screen and (min-width: 768px) {
      
    }
    @media screen and (min-width: 1200px) {
        position: absolute;
    }
}

.service-icon-wrapper {
    display: flex;
    @media screen and (min-width: 360px) {
        // width: 50%;
        align-self: center;
        gap: 20px;
        flex-direction: column;
    }
    @media screen and (min-width: 768px) {
      
    }
    @media screen and (min-width: 1200px) {
        width: auto;
    }
}

.left-side-icons {
    display: flex;
    flex-direction: column;
    
    top: 88px;
    left: 77px;
    // gap: 82px;
    @media screen and (min-width: 360px) {
        display: flex;
        flex-direction: column;
        // position: absolute;
        // top: 140px;
        // left: 70px;
        // gap: 82px;
        gap: 20px;
    }
    @media screen and (min-width: 768px) {
      
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 88px;
        left: 77px;
        gap: 82px;
    }
}

.right-side-icons {
    display: flex;
    flex-direction: column;
    
    top: 283px;
    left: 364px;
    // gap: 82px;
    @media screen and (min-width: 360px) {
        display: flex;
        flex-direction: column;
        // position: absolute;
        // top: 283px;
        /* left: 364px; */
        // gap: 82px;
        // right: 37px;
        gap: 20px;
    }
    @media screen and (min-width: 768px) {
      
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 283px;
        left: 364px;
        gap: 82px;
    }
}

.single-icon-wrapper {
    border: 2px solid #062983;
    border-radius: 50%;
    padding: 50px;
    @media screen and (min-width: 360px) {
        padding: 50px;
    }
    @media screen and (min-width: 768px) {
      
    }
    @media screen and (min-width: 1200px) {
        padding: 50px;
    }
}

.icon-caption {
    font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 34px;
/* identical to box height */


color: #1D75B8;
}

.icon-item {
    display: flex;
    flex-direction: column;
}