.vacancy {
    background: url('./../../images/vacantion-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #fff;
  text-align: center;
  height: 982px;
  position: relative;
}

.vacancy-title {
    font-style: normal;
font-weight: 400;
font-size: 80px;
// line-height: 108px;
/* identical to box height */


color: #FFFFFF;
// position: absolute;
    top: 54px;
    left: 59px;
    // text-align: left;
    @media screen and (min-width: 360px) {
        font-style: normal;
        font-weight: 400;
        font-size: 80px;
        color: #fff;
        /* position: absolute; */
        /* top: 54px; */
        /* left: 59px; */
        /* text-align: left; */
        padding-top: 50px;
    }
    @media screen and (min-width: 768px) {
      
    }
    @media screen and (min-width: 1200px) {
        font-style: normal;
        font-weight: 400;
        font-size: 80px;
        // line-height: 108px;
        /* identical to box height */
        
        
        color: #FFFFFF;
        position: absolute;
            top: 54px;
            left: 59px;
            text-align: left;
    }
}

.form-fields {
    @media screen and (min-width: 360px) {
        flex-direction: column;
    width: 63%;
    }
    @media screen and (min-width: 768px) {
      
    }
    @media screen and (min-width: 1200px) {
       flex-direction: row;
       width: 35%;
    }
}

.vacancy-text-wrapper {
    margin: 0;
    background: #fff;
    position: absolute;
    top: calc(53% - 1px);
    left: calc(50% + 4px);
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 70%;
    border: 2px solid #0E2F40;
    border-radius: 50%;
    padding: 72px 51px;
    @media screen and (min-width: 360px) {
        margin: 0;
    background: #fff;
    position: absolute;
    top: calc(53% - 1px);
    left: calc(50% + 0px);
    margin-right: -50%;
    transform: translate(-50%, -50%);
    /* width: 376px; */
    border: 2px solid #0e2f40;
    border-radius: 50%;
    padding: 55px 55px;
    }
    @media screen and (min-width: 768px) {
      
    }
    @media screen and (min-width: 1200px) {
        margin: 0;
    background: #fff;
    position: absolute;
    top: calc(53% - 1px);
    left: calc(50% + 4px);
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 376px;
    border: 2px solid #0E2F40;
    border-radius: 50%;
    padding: 138px 51px;
    }
    
}

.contact-button {
    margin: 0;
    background: #fff;
    position: absolute;
    /* top: 94%; */
    left: calc(50% + 4px);
    margin-right: -50%;
    transform: translate(-50%, -50%);
    /* width: 347px; */
    background: #062983;
    border-radius: 30px;
    padding: 18px 97px;
    bottom: 80px;
    cursor: pointer;
}

.contact-link {
    font-style: normal;
font-weight: 400;
font-size: 25px;
// line-height: 34px;
/* identical to box height */


color: #FFFFFF;
}


.vacancy-text {
    font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 40px;
text-align: center;

color: #000000;
@media screen and (min-width: 360px) {
    font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 28px;
text-align: center;

color: #000000;
}
@media screen and (min-width: 768px) {
  
}
@media screen and (min-width: 1200px) {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    
    color: #000000;
}
}